/*************************
Header
*************************/
body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
}
header{
    background:red;
    height:50px; 
    line-height:50px;
	width:100%; 
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
    z-index:1000000; 
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    background:#131313; 
    position:absolute; 
    text-align:center;}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    list-style-image: none;
}
.menu li {display: block;  
    padding:15px 0 15px 0; 
    border-bottom:#1d1f20 1px solid;
}
.menu li:hover{
    display: block;   
    background:#181818; 
    padding:15px 0 15px 0;
    border-bottom:#1d1f20 1px solid;
}
.menu ul li a {
    text-decoration:none; 
    margin: 0px; 
    color:#fff;
}
.menu ul li a:hover {
    color: #fff; 
    text-decoration:none;
}
.menu a{
    text-decoration:none; 
    color:white;
}
.menu a:hover{
    text-decoration:none;
    color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

/*cssLint ids: false, box-model: false*/


/********************************
GENERAL
********************************/

body {
    background-image: url("http://wiki.theappacademy.us/skins/common/images/logo_small.png");
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}

#wrapper {
    /*Margin 0 is for all sides*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/********************************
HEADER
********************************/


/*header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
} */

h1 {
    color: gold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.75em;
    margin: 15px 0;
}

h2 {
    color: gold;
    font-size: 0.75em;
    font-weight: normal;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom.*/
    margin: -5px 0 0;
}


/********************************
Footer
********************************/

footer {
    clear: both;
    color: #ccc;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    height: 30px;
    margin: 0 5px;
    width: 30px;
}


/********************************
Page Portfolio
********************************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: lightgrey;
    color: #bdc3c7;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: black;
    font-size: 0.753;
    margin: 0;
    padding: 5%;
}


/********************************
Project Photos
********************************/

.profile-photo {
    display: block;
    max-height: 400px;
    max-width: 400px;
}


/********************************
CONTACT PAGE
********************************/

.contact-info {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info a {
    /* by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png')
}

.contact-info li.phone a {
    background-image: url('../img/phone.jpg')
}


/********************************
COLORS
********************************/

body {
    background-color: white;
    color: #999;
}

a {
    color: white;
}

h1 {
   color: chartreuse;
}


/********************************
MEDIA Queries
********************************/


/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*THREE COLUMB LAYOUT PORTFOLIO*/
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /**/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
}